
<form action="/submitAns" method="post">
  <div>
    <input type="text" name="questionNo" value="Lec1SelfTest1" hidden="true"> Question </input> <br>
    <h3> Using the graph -- above, test your skills by
    identifying which components represent *categorical* or
    *quantitative* values. Are -- the vertical bars in the
    graph: <h3>
  </div>
  <div>
    <label>Choice 1:</label>
    <input type="checkbox"  name="option" value="option1" /><br/>
  </div>
  <div>
    <label>Choice 2:</label>
    <input type="checkbox" name="option" value="option2" /><br/>
  </div>
  <div>
    <label>Choice 3:</label>
    <input type="checkbox"  name="option" value="option3" /><br/>
  </div>
  <div>
    <label>Choice 4:</label>
    <input type="checkbox"  name="option" value="option4" /><br/>
  </div>
  <div>
    <input type="submit" value="Submit"/>
  </div>
</form>

<a href="/profile"> Take quiz </a>


